---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/Container.astro";
import Heading1 from "@/components/Heading1.astro";
import Block from "@/components/Block.astro";
import Category from "@/components/Category.astro";

const cases = await getCollection("case");

cases.sort((a, b) => a.data.order - b.data.order);

const categories = Array.from(new Set(cases.map((p) => p.data.category))).sort(
  (a, b) => a.localeCompare(b),
);
---

<Layout title="Agostina Giannelli • Case Studies">
  <Container>
    <Heading1
      h1="Case Studies"
      paragraph="Explore a selection of CRO case studies showcasing proven strategies and results"
    />

    <div id="unauthorized" class="mt-16 hidden">
      <Block
        h2="Glad You Stopped By"
        paragraph="Case studies are password-protected. Want to explore?"
        link="/login"
        linkText="Login"
      />
    </div>

    <div id="authorized" class="mt-16 hidden">
      <div class="flex justify-center flex-wrap gap-2 mb-6">
        <Category category="all" />
        {
          categories.map((category) => (
            <div class="flex items-center transition md:justify-center md:hover:scale-105">
              <Category category={category} />
            </div>
          ))
        }
      </div>
      <ul class="grid gap-16 max-w-4xl mx-auto">
        {
          cases.map(
            (
              entry: {
                slug: string;
                data: {
                  title: string;
                  subtitle: string;
                  category: string;
                  image: { src: string; alt: string | null };
                };
              },
              index: number,
            ) => (
              <li
                class={`case-study ${entry.data.category.replace(/\s+/g, "-")}`}
              >
                <a href={`/case/${entry.slug}`}>
                  <div class="grid md:grid-cols-2 gap-5 md:gap-10 items-center">
                    <div class="relative flex flex-col items-center transition duration-500 ease-in-out transform shadow-xl overflow-hidden rounded-md group hover:-translate-y-1 hover:shadow-2xl">
                      <Picture
                        src={entry.data.image.src}
                        alt={entry.data.image.alt}
                        sizes="(max-width: 800px) 100vw, 800px"
                        width={800}
                        height={600}
                        loading={index <= 2 ? "eager" : "lazy"}
                        decoding={index <= 2 ? "sync" : "async"}
                        class="w-full h-full rounded-md object-cover object-center transition duration-500 scale-100 group-hover:scale-105"
                      />
                    </div>
                    <div>
                      <p class="uppercase tracking-wider text-sm font-medium text-black dark:text-white">
                        {entry.data.category}
                      </p>
                      <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-2 text-black dark:text-white">
                        {entry.data.title}
                      </h2>
                      <p class="text-slate-500 dark:text-slate-200 mt-2">
                        {entry.data.subtitle}
                      </p>
                      <div class="mt-5 text-slate-500 dark:text-white">
                        <a
                          href={`/case/${entry.slug}`}
                          class="relative dark:after:bg-white after:bg-slate-500 after:absolute after:h-0.5 after:w-0 after:bottom-0 after:left-0 hover:after:w-full after:transition-all after:duration-300 cursor-pointer"
                        >
                          → Read Case Study
                        </a>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            ),
          )
        }
      </ul>
    </div>
  </Container>

  <script src="../utils/authContent.js"></script>
  <script src="../utils/filter.js"></script>
</Layout>
