---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/Container.astro";
import Heading1 from "@/components/Heading1.astro";
import Block from "@/components/Block.astro";
import BadgeCategory from "@/components/BadgeCategory.astro";
import PortfolioCard from "@/components/PortfolioCard.astro";

const portfolio = await getCollection("portfolio");

portfolio.sort((a, b) => a.data.order - b.data.order);

const categories = Array.from(new Set(portfolio.map((p) => p.data.category))).sort(
  (a, b) => a.localeCompare(b),
);
---

<Layout title="Agostina Giannelli • Portfolio">
  <Container>
    <Heading1
      h1="Portfolio"
      paragraph="Explore a collection of personal CRO initiatives, showcasing successful strategies and impactful results"
    />

    <div id="unauthorized" class="hidden mt-16">
      <Block
        h2="Glad You Stopped By"
        paragraph="Portfolio is password-protected."
        href="/login"
        text="Login"
      />
    </div>

    <div id="authorized" class="hidden mt-16">
      <div class="flex flex-wrap justify-center gap-2 mb-12 md:gap-4">
        <BadgeCategory category="All" />
        {categories.map((category) => <BadgeCategory category={category} />)}
      </div>
      <ul class="grid gap-16 md:grid-cols-2 lg:grid-cols-3">
        {
          portfolio.map((entry) => (
            <PortfolioCard
              category={entry.data.category}
              slug={entry.slug}
              title={entry.data.title}
              subtitle={entry.data.subtitle}
            />
          ))
        }
      </ul>
    </div>
  </Container>

  <script src="../utils/scroll.js"></script>
  <script src="../utils/auth.js"></script>
  <script src="../utils/filter.js"></script>
</Layout>
