---
import ButtonLink from "./ButtonLink.astro";

const { h2, paragraph, href, text, href2, text2 } = Astro.props;
---

<div
    class="flex flex-col items-center max-w-6xl p-6 mx-auto text-center rounded-lg bg-slate-100 dark:bg-slate-900 md:px-20 md:py-20"
>
    <h2
        class="text-2xl tracking-tight text-slate-900 dark:text-white md:text-5xl"
    >
        {h2}
    </h2>
    <p class="mt-4 text-slate-600 dark:text-slate-200 md:text-lg">
        {paragraph}
    </p>
    <div class="flex flex-wrap justify-center gap-3 mt-6">
        {href && <ButtonLink href={href}>{text}</ButtonLink>}

        {href2 && <ButtonLink href={href2}>{text2}</ButtonLink>}
    </div>
</div>
