---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/Container.astro";
import ButtonLink from "@/components/ButtonLink.astro";
import Block from "@/components/Block.astro";
import PortfolioImage from "@/components/PortfolioImage.astro";
import PortfolioGrid from "@/components/PortfolioGrid.astro";
import PortfolioHeader from "@/components/PortfolioHeader.astro";

const { entry } = Astro.props;

export async function getStaticPaths() {
  const portfolio = await getCollection("portfolio");
  return portfolio.map((entry: { [x: string]: any; slug: string }) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const width =
  entry.data.image.device === "desktop" ? "md:max-w-4xl" : "md:w-[300px]";

const browser =
  entry.data.image.device === "desktop" ? "lg:flex hidden" : "hidden";
---

<Layout title={`Agostina Giannelli • ${entry.data.title}`}>
  <Container class="space-y-16">
    <div id="unauthorized" class="hidden mt-36">
      <Block
        h2="Glad You Stopped By"
        paragraph="Portfolio is password-protected."
        href="/login"
        text="Login"
      />
    </div>

    <div id="authorized" class="hidden mt-16">
      <PortfolioHeader
        category={entry.data.category}
        title={entry.data.title}
        link={entry.data.link}
        tools={entry.data.tools}
        overview={entry.data.overview}
      />

      <PortfolioGrid
        challenge={entry.data.challenge}
        hypothesis={entry.data.hypothesis}
        implementation={entry.data.implementation}
        outcome={entry.data.outcome}
      />

      <PortfolioImage
        width={width}
        browser={browser}
        link={entry.data.link}
        src={entry.data.image.src}
        alt={entry.data.image.alt}
      />
      <div class="text-center mt-14">
        <ButtonLink href="/portfolio">← Back to Portfolio</ButtonLink>
      </div>
    </div>
  </Container>

  <script src="../../utils/auth.js"></script>
</Layout>
